<table>
    <tr>
      <td>PYTHON PARA
HUMANIDADES DIGITALES - 
Introducción al análisis y
procesamiento de textos con Python
      </td>
      <td>Ediciones RC
      </td>
     </tr>
     <tr>
     <td>Rafael Caballero Roldán, Enrique Martín Martín y Adrián Riesco Rodríguez</td>
     </tr>
</table>

# Capítulo 1: El lenguaje de programación Python

## Índice
[Tipos simples en Python](#Tipos)<br>
&nbsp;&nbsp;&nbsp;&nbsp;  [Tipos numéricos](#Numéricos)<br>
&nbsp;&nbsp;&nbsp;&nbsp;  [Tipo Lógico](#Lógico)<br>

[Variables](#Variables)<br>
[Secuencias](#Secuencias)<br>
&nbsp;&nbsp;&nbsp;&nbsp;  [Concatenación](#Concatenación)<br>
&nbsp;&nbsp;&nbsp;&nbsp;  [Acceso por posición](#Acceso)<br>
&nbsp;&nbsp;&nbsp;&nbsp; [Otras operaciones para secuencias](#Otras)<br>
&nbsp;&nbsp;&nbsp;&nbsp; [Operaciones específicas para strings](#Strings)<br>
&nbsp;&nbsp;&nbsp;&nbsp; [Operaciones específicas para listas](#Listas)<br>

[Instrucciones condicionales](#if)<br>

[Iterando](#for)<br>

[Listas Intensionales](#comprehensions)<br>

[Diccionarios](#diccionarios)<br>

[Funciones de usuario](#funciones)<br>

[Bibliotecas](#bibliotecas)<br>

<a name="Tipos"></a>
### Tipos simples en Python

<a name="Numéricos"></a>
#### &nbsp;&nbsp;&nbsp;&nbsp;  Tipos numéricos

In [1]:
# Ejemplo 1.3.1
print( 3+4, 5.1*2.3, 4/3, 5 % 3 )

7 11.729999999999999 1.3333333333333333 2

<a name="Lógico"></a>
#### &nbsp;&nbsp;&nbsp;&nbsp;  Tipo Lógico

In [2]:
# Ejemplo 1.3.2
print( 3<4, 7!=7 )

True False

In [3]:
# Ejemplo 1.3.3
print( 3<4 and 4>4, 3<4 or 4>4, not (3>4) )

False True True

<a name="Variables"></a>
### Variables

In [4]:
# Ejemplo 1.4.1
días=7
print(días)

7

In [5]:
# Ejemplo 1.4.2
días=7
print(días)
horas = días *  24
print(horas)

7
168

In [6]:
# Ejemplo 1.4.3
días=7
print(días)
días = días + 1
print(días)

7
8

<a name="Secuencias"></a>
### Secuencias

<a name="Concatenación"></a>
#### &nbsp;&nbsp;&nbsp;&nbsp;  Concatenación

In [7]:
# Ejemplo 1.5.1
print("Hola " + "Python")
print([30,40,50] + [10,20])

Hola Python
[30, 40, 50, 10, 20]

In [8]:
# Ejemplo 1.5.2
print("-." * 5)

-.-.-.-.-.

<a name="Acceso"></a>
#### &nbsp;&nbsp;&nbsp;&nbsp;  Acceso por posición

In [9]:
# Ejemplo 1.5.3

#         0  1  2  3
lista = [50,60,80,90]
print(lista[2])

80

In [10]:
# Ejemplo 1.5.4

tupla = (10,20,30,40,50,60,70,80)
print(tupla[-1])  # el último
print(tupla[2:5]) # elementos en pos. 2, 3 y 4
print(tupla[1:])  # todos menos el primero
print(tupla[:-1]) # todos salvo el último

80
(30, 40, 50)
(20, 30, 40, 50, 60, 70, 80)
(10, 20, 30, 40, 50, 60, 70)

<a name="Otras"></a>
#### &nbsp;&nbsp;&nbsp;&nbsp;  Otras operaciones para secuencias

In [11]:
# Ejemplo 1.5.5.
s = "abracadabra"
print(min(s),max(s))
print("z" in s, "raca" in s)
print(s.count("a"), s.index("raca"))

a r
False True
5 2

<a name="Strings"></a>
#### &nbsp;&nbsp;&nbsp;&nbsp; Operaciones específicas para strings

In [12]:
# Ejemplo 1.5.6
print("Me dijo: 'a ver si nos vemos pronto'")

Me dijo: 'a ver si nos vemos pronto'

In [13]:
# Ejemplo 1.5.7
a = """Mi infancia son recuerdos de un patio de Sevilla,
y un huerto claro donde madura el limonero;
mi juventud, veinte años en tierras de Castilla;
mi historia, algunos casos que recordar no quiero."""
print(a)

Mi infancia son recuerdos de un patio de Sevilla,
y un huerto claro donde madura el limonero;
mi juventud, veinte años en tierras de Castilla;
mi historia, algunos casos que recordar no quiero.

In [14]:
# Ejemplo 1.5.8
s = "el ser que puede ser comprendido es lenguaje (Gadamer)"
print(s.startswith("el"),s.endswith("el"))

True False

In [15]:
# Ejemplo 1.5.9
p1 = s.find("ser")
p2 = s.find("ser", p1+1)
p3 = s.find("ser", p2+1)
pf = s.rfind("ser")
print(p1, p2, p3, pf)

3 17 -1 17

In [ ]:
# Ejemplo 1.5.10
s1 = "Te lo había dicho"
s2 = "te lo había dicho"

iguales1 = s1==s2
iguales2 = s1.lower()==s2.lower()
print(iguales1,iguales2)

In [16]:
# Ejemplo 1.5.11
s = "¡¡¡bien!!!"
print(s.lstrip("¡").rstrip("!"))

bien

In [17]:
# Ejemplo 1.5.12
s1 = "compra tomates, pepinos, calabacín, pimiento verde y ajo"
s2 = s1.replace(",", " ")
print(s2)

compra tomates  pepinos  calabacín  pimiento verde y ajo

In [18]:
# Ejemplo 1.5.13
l = ["era","de", "noche","pero","llovía"]
print(" ".join(l))

era de noche pero llovía

<a name="Listas"></a>
#### &nbsp;&nbsp;&nbsp;&nbsp; Operaciones específicas para listas

In [19]:
# Ejemplo 1.5.14
lista = [50,60,80,90]
lista[1] = 70
print(lista)

[50, 70, 80, 90]

In [20]:
# Ejemplo 1.5.15
herramientas = ['tornillos','tuercas','arandelas']
herramientas.append('clavos')
print(herramientas)

['tornillos', 'tuercas', 'arandelas', 'clavos']

In [21]:
# Ejemplo 1.5.16
caja  = [['tornillos','tuercas','arandelas'],['martillo','sierra']]
caja[0].append('clavos')
print(caja)

[['tornillos', 'tuercas', 'arandelas', 'clavos'], ['martillo', 'sierra']]

<a name="if"></a>
### Instrucciones condicionales

In [22]:
# Ejemplo 1.6.1
s = "En un lugar de la Mancha"
print("Comprobemos sí la variable 's' comienza por 'en'")
if s.lower().startswith("en"):
    print("¡Comienza por 'en'!")
print("Y ya está")

Comprobemos sí la variable 's' comienza por 'en'
¡Comienza por 'en'!
Y ya está

In [ ]:
# Ejemplo 1.6.2
s = "Había una vez"
print("Comprobemos sí la variable 's' comienza por 'en'")
if s.lower().startswith("en"):
    print(f"'{s}' comienza por 'en'")
else:
    print(f"'{s}' no comienza por 'en'")
print("Y ya está")

In [23]:
# Ejemplo 1.6.3
s = "Había una vez"
print("Comprobemos sí la variable 's' comienza por 'en'")
m = f"'{s}' comienza por 'en'" if s.lower().startswith("en") else f"'{s}' no comienza por 'en'"
print(m)
print("Y ya está")

Comprobemos sí la variable 's' comienza por 'en'
'Había una vez' no comienza por 'en'
Y ya está

<a name="for"></a>
### Iterando

In [24]:
# Ejemplo 1.7.1
for h in ['tornillos','tuercas','arandelas']:
    print(h)

tornillos
tuercas
arandelas

In [25]:
# Ejemplo 1.7.2
for i in range(11):
    if i % 2 == 0: # si el resto al dividir entre 2 es 0 es  par
        print(i)

0
2
4
6
8
10

In [26]:
# Ejemplo 1.7.3
pares = []
for i in range(100):
    if i % 2 == 0:
        pares.append(i)
print(pares)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [27]:
# Ejemplo 1.7.4
for i in range(len(pares)):
    if pares[i] % 3 == 0:
        print(pares[i])

0
6
12
18
24
30
36
42
48
54
60
66
72
78
84
90
96

<a name="comprehensions"></a>
### Listas intensionales

In [29]:
# Ejemplo 1.8.1
pares = [ i for i in range(100)   if i % 2 == 0]
print(pares)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [28]:
# Ejemplo 1.8.2
palabra = ["Había", "una", "vez", "una", "princesa",
                 "que", "estaba", "triste"]
en_a = [p for p in palabra if p.endswith("a")]
print(en_a)

['Había', 'una', 'una', 'princesa', 'estaba']

In [ ]:
# Ejemplo 1.8.3
long_a = [ len(p) for p in palabra if p.endswith("a")]
print(long_a)

In [ ]:
# Ejemplo 1.8.4
letras = [ letra for letra in "abracadabra"]
print(letras)

<a name="diccionarios"></a>
### Diccionarios

In [30]:
# Ejemplo 1.9.1
d0 = {}
d1 = dict()
print(type(d0), type(d1))

<class 'dict'> <class 'dict'>

In [31]:
# Ejemplo 1.9.2
d0['nombre'] = 'bertoldo'
d0['edad'] = 23
print(d0)

{'nombre': 'bertoldo', 'edad': 23}

In [ ]:
# Ejemplo 1.9.3
print('dirección' in d0)
d0['dirección'] = 'calle Albricias s/n'
print('dirección' in d0)

<a name="funciones"></a>
### Funciones de usuario

<a name="bibliotecas"></a>
### Bibliotecas